body {
  font-family: 'Chelsea Market', cursive;
}

.row {
  font-family: 'Chelsea Market', cursive;
}

.align-right {
  text-align: right;
}

h3, h5 {
  padding: 20px 0px;
}

h5 {
  padding: 26px 0px;
}

.table, th, tr, td {
  font-family: 'Chelsea Market', cursive;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

th {
  background-color: lightgray;
}
